.navbar {
    /* sets background color */
    background-color: #656E6E;
}

#navbar-name {
         /* font */
    font-weight: bolder;
    color: white;

    /* postioning */
    margin-left: 10px;
}

a {
        /* font */
    color:white;
    font-weight: bold;

    /* postioning */
    margin-right: 20px;
}

.card {
    /* postioning */
    margin-top: 100px;
}

.card-header {
       /* font */
    font-weight: bold;
    font-size: 32px;

     /* postioning */
    margin-left: 50px;
    margin-right: 50px;

   /* sets background color  */
    background-color: white;
}

label {
    /* postioning */
    margin-top: 20px;
}

button {
    /* postioning */
    margin-top: 20px;
}

.footer {
     /* positioning */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;

    /* sets background color */
    background-color: #656E6E;
}

span.text-muted {
         /* font */
    color: white !important;
    font-weight: bolder;

    /* postioning */
    margin-left: 40%;
}

/* assigns specific functions if screen is 600px or less */
@media screen and (max-width: 600px) {
    span.text-muted {
        /* postioning */
        margin-left: 20%;
    }
}

/* assigns specific functions if screen is 768px or more  */
@media screen and (min-width: 768px) {
    .card {
        /* postioning */
        margin-top: 200px;
    }

    span.text-muted {
        /* postioning */
        margin-left: 32%;
    }
}

/* assigns specific functions if screen is 992 px or more  */
@media screen and (min-width: 992px) {
    .card {
        /* postioning  */
        margin-top: 100px;
    }

    span.text-muted {
        /* postioning */
        margin-left: 40%;
    }
}

