.navbar {
    background-color: #656E6E;
}

#navbar-name {
    font-weight: bolder;
    margin-left: 10px;
}

a {
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.card {
    margin-top: 100px;
}

.card-header {
    font-weight: bold;
    font-size: 32px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}

label {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}
