.navbar {
    /* sets background color */
    background-color: #656E6E;
}

.navbar-brand {
         /* font */
    font-weight: bolder;
    color: white;

    /* postioning */
    margin-left: 10px;
}

.navbar-nav {
    /* postioning */
    margin-left: auto;
}

body {
    /* added background image  */
    background-image: url("./images/black-thread.png");
    background-repeat: repeat-y;

}

a {
        /* font */
    color:white !important;
    font-weight: bold;

    /* postioning */
    margin-right: 20px;
}

.card {
    /* postioning */
    margin-top: 100px;
}

.card-header {
       /* font */
    font-weight: bold;
    font-size: 32px;

     /* postioning */
    margin-left: 40px;
    margin-right: 40px;

   /* sets background color  */
    background-color: white;
}

label {
    /* postioning */
    margin-top: 20px;
}

button {
    /* postioning */
    margin-top: 20px;
}

footer {
    /* sets background color */
    background-color: #656E6E;

    /* postioning  */
    padding-left: 40%;
}

.card-title {
    text-align: center;
}

.text-muted {
    text-align: center;
    padding-top: 40px;
}








/* assigns specific functions if screen is 600px or less */
@media screen and (max-width: 600px) {
    .card-header {
        /* postioning */
        margin-left: 0px;
    }

    footer {
        /* postioning */
        padding-left: 14%;
    }



}








/* assigns specific functions if screen is 768px or more  */
@media screen and (min-width: 768px) {
    .card {
        /* postioning */
        margin-top: 150px;
    }

    footer {
        /* postioning */
        padding-left: 33%;
    }
}







/* assigns specific functions if screen is 900 px or more  */
@media screen and (min-width: 900px) {
    .card {
        /* postioning */
        margin-top: 150px;
    }

    footer {
        /* postioning  */
        padding-left: 36%;
    }
}


 
/* assigns specific functions if screen is 1080px or more  */
@media screen and (min-width: 1080px) {
    .card {
        /* postioning  */
        margin-top: 60px;
    }

     footer {
         /* postioning  */
         padding-left: 40%;
     }


}
