.navbar {
    /* sets background color  */
    background-color: #656E6E;
}

.navbar-brand {
        /* font */
    font-weight: bolder;
    color: white;

    /* postioning */
    margin-left: 10px;
}

body {
    /* added background image */
    background-image: url("./images/black-thread.png");
    background-repeat: repeat-y;

}

a {
       /* font */
    color:white !important;
    font-weight: bold;

    /* positioning  */
    margin-right: 20px;
}

.navbar-nav {
    /* postioning */
    margin-left: auto;
}

.card {
    /* postioning  */
    margin-top: 70px;
    margin-bottom: 70px;
}

.card-header {
       /* font  */
    font-weight: bold;
    font-size: 32px;

    /* postioning  */
    margin-left: 50px;
    margin-right: 50px;

    /* sets background color  */
    background-color:white ;
}

footer {
    /* sets background color */
    background-color: #656E6E;

    /* postioning */
    padding-left: 40%;
}

img {
    /* postioning  */
    margin: 30px;

    /* dimensions */
    width: 300px;
    height: 300px;
}



/* assigns specific functions if screen is 600px or less */
@media screen and (max-width: 600px) {
    img {
        /* postioning */
        margin-left: 30px;
    }

    .card-header{
        /* postioning */
        padding-left: 69px;
    }

    footer {
        /* postioning */
        padding-left: 14%;
    }
}




/* assigns specific functions if screen is 768px or more  */
@media screen and (min-width: 768px) {
    img {
        /* postioning */
        margin-left: 180px;
    }

    .card-header {
        /* postioning  */
        padding-left: 0px;
    }

    footer {
        /* postioning  */
        padding-left: 30%;
    }
}



/* 
assigns specific functions if screen is 900px or more  */
@media screen and (min-width: 900px) {
    img {
        /* postioning */
         margin-left: 100px;
        }

    .card-header {
        /* postioning */
        padding-left: 0px;
    }

    footer {
        /* postioning */
        padding-left: 36%;    
    }
    
}





/* assigns specific functions if screen is 1080 px or less */
@media screen and (min-width: 1080px) {
    img {
        /* postioning  */
        margin: 30px;
        margin-left: 80px;
    }

    .card-header {
        /* postioning  */
        padding-left: 0px;
    }

    footer {
        /* postioning  */
        padding-left: 41%;
    }
}


