.navbar {
    /* sets background color  */
    background-color: #656E6E;
}

#navbar-name {
        /* font */
    font-weight: bolder;
    color: white;

    /* postioning */
    margin-left: 10px;
}

a {
       /* font */
    color:white;
    font-weight: bold;

    /* positioning  */
    margin-right: 20px;
}

.card {
    /* postioning  */
    margin-top: 100px;
}

.card-header {
       /* font  */
    font-weight: bold;
    font-size: 32px;

    /* postioning  */
    margin-left: 50px;
    margin-right: 50px;

    /* sets background color  */
    background-color:white ;
}

.footer {
    
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #656E6E;
}

span.text-muted {
    color: white !important;
    font-weight: bolder;
    margin-left: 40%;
}

img {
    /* postioning  */
    margin: 50px;
    width: 300px;
    height: 300px;
}

/* assigns specific functions if screen is 600px or less */
@media screen and (max-width: 600px) {
    img {
        /* postioning */
        margin-left: 33px;
    }

    span.text-muted {
        /* postioning */
        margin-left: 20%;
    }
}

/* assigns specific functions if screen is 768px or more  */
@media screen and (min-width: 768px) {
    img {
        /* postioning */
        margin-left: 150px;
    }

    span.text-muted {
        /* postioning */
        margin-left: 32%;
    }
}

/* assigns specific functions if screen is 992 px or more  */
@media screen and (min-width: 992px) {
    img {
        /* postioning */
        margin-left: 33px;
    }

    span.text-muted {
        /* postioning */
        margin-left: 40%;
    }
}

